# Unwanted directories
local_storage/
**/.idea/
**/venv

# Unwanted files
**/django_tailwindcss.iml

# Python
# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files #
*.bak

# AWS User-specific
.idea/**/aws.xml

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml

# Python #
*.py[cod]
*$py.class

# Distribution / packaging
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery
celerybeat-schedule.*

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Sublime Text #
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# sftp configuration file
sftp-config.json

# Package control specific files Package
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
/localstorage/static/admin/js/actions.js
/localstorage/static/admin/js/vendor/select2/i18n/af.js
/localstorage/static/admin/js/vendor/select2/i18n/ar.js
/localstorage/static/admin/css/autocomplete.css
/localstorage/static/admin/js/autocomplete.js
/localstorage/static/admin/js/vendor/select2/i18n/az.js
/localstorage/static/admin/css/base.css
/localstorage/static/admin/js/vendor/select2/i18n/bg.js
/localstorage/static/admin/js/vendor/select2/i18n/bn.js
/localstorage/static/admin/js/vendor/select2/i18n/bs.js
/localstorage/static/admin/js/vendor/select2/i18n/ca.js
/localstorage/static/admin/js/calendar.js
/localstorage/static/admin/img/calendar-icons.svg
/localstorage/static/admin/js/cancel.js
/localstorage/static/admin/js/change_form.js
/localstorage/static/admin/css/changelists.css
/localstorage/static/admin/js/collapse.js
/localstorage/static/admin/js/core.js
/localstorage/static/admin/js/vendor/select2/i18n/cs.js
/localstorage/static/admin/js/vendor/select2/i18n/da.js
/localstorage/static/admin/css/dark_mode.css
/localstorage/static/admin/css/dashboard.css
/localstorage/static/admin/js/admin/DateTimeShortcuts.js
/localstorage/static/admin/js/vendor/select2/i18n/de.js
/localstorage/static/admin/js/vendor/select2/i18n/dsb.js
/localstorage/static/admin/js/vendor/select2/i18n/el.js
/localstorage/static/admin/js/vendor/select2/i18n/en.js
/localstorage/static/admin/js/vendor/select2/i18n/es.js
/localstorage/static/admin/js/vendor/select2/i18n/et.js
/localstorage/static/admin/js/vendor/select2/i18n/eu.js
/localstorage/static/admin/js/vendor/select2/i18n/fa.js
/localstorage/static/admin/js/vendor/select2/i18n/fi.js
/localstorage/static/admin/js/filters.js
/localstorage/static/admin/css/fonts.css
/localstorage/static/admin/css/forms.css
/localstorage/static/admin/js/vendor/select2/i18n/fr.js
/localstorage/static/admin/js/vendor/select2/i18n/gl.js
/localstorage/static/admin/js/vendor/select2/i18n/he.js
/localstorage/static/admin/js/vendor/select2/i18n/hi.js
/localstorage/static/css/home.css
/src/static/css/home.css
/localstorage/static/admin/js/vendor/select2/i18n/hr.js
/localstorage/static/admin/js/vendor/select2/i18n/hsb.js
/localstorage/static/admin/js/vendor/select2/i18n/hu.js
/localstorage/static/admin/js/vendor/select2/i18n/hy.js
/localstorage/static/admin/img/icon-addlink.svg
/localstorage/static/admin/img/icon-alert.svg
/localstorage/static/admin/img/icon-calendar.svg
/localstorage/static/admin/img/icon-changelink.svg
/localstorage/static/admin/img/icon-clock.svg
/localstorage/static/admin/img/icon-deletelink.svg
/localstorage/static/admin/img/icon-no.svg
/localstorage/static/admin/img/icon-unknown.svg
/localstorage/static/admin/img/icon-unknown-alt.svg
/localstorage/static/admin/img/icon-viewlink.svg
/localstorage/static/admin/img/icon-yes.svg
/localstorage/static/admin/js/vendor/select2/i18n/id.js
/localstorage/static/admin/img/inline-delete.svg
/localstorage/static/admin/js/inlines.js
/localstorage/static/admin/js/vendor/select2/i18n/is.js
/localstorage/static/admin/js/vendor/select2/i18n/it.js
/localstorage/static/admin/js/vendor/select2/i18n/ja.js
/localstorage/static/admin/js/jquery.init.js
/localstorage/static/admin/js/vendor/jquery/jquery.js
/localstorage/static/admin/js/vendor/jquery/jquery.min.js
/localstorage/static/admin/js/vendor/select2/i18n/ka.js
/localstorage/static/admin/js/vendor/select2/i18n/km.js
/localstorage/static/admin/js/vendor/select2/i18n/ko.js
/localstorage/static/admin/img/LICENSE
/localstorage/static/admin/js/vendor/select2/LICENSE.md
/localstorage/static/admin/fonts/LICENSE.txt
/localstorage/static/admin/js/vendor/jquery/LICENSE.txt
/localstorage/static/admin/js/vendor/xregexp/LICENSE.txt
/localstorage/static/admin/css/vendor/select2/LICENSE-SELECT2.md
/localstorage/static/admin/css/login.css
/localstorage/static/admin/js/vendor/select2/i18n/lt.js
/localstorage/static/admin/js/vendor/select2/i18n/lv.js
/localstorage/static/admin/js/vendor/select2/i18n/mk.js
/localstorage/static/admin/img/gis/move_vertex_off.svg
/localstorage/static/admin/img/gis/move_vertex_on.svg
/localstorage/static/admin/js/vendor/select2/i18n/ms.js
/localstorage/static/admin/css/nav_sidebar.css
/localstorage/static/admin/js/nav_sidebar.js
/localstorage/static/admin/js/vendor/select2/i18n/nb.js
/localstorage/static/admin/js/vendor/select2/i18n/ne.js
/localstorage/static/admin/js/vendor/select2/i18n/nl.js
/localstorage/static/admin/js/vendor/select2/i18n/pl.js
/localstorage/static/admin/js/popup_response.js
/localstorage/static/admin/js/prepopulate.js
/localstorage/static/admin/js/prepopulate_init.js
/localstorage/static/admin/js/vendor/select2/i18n/ps.js
/localstorage/static/admin/js/vendor/select2/i18n/pt.js
/localstorage/static/admin/js/vendor/select2/i18n/pt-BR.js
/localstorage/static/admin/fonts/README.txt
/localstorage/static/admin/img/README.txt
/localstorage/static/admin/js/admin/RelatedObjectLookups.js
/localstorage/static/admin/css/responsive.css
/localstorage/static/admin/css/responsive_rtl.css
/localstorage/static/admin/js/vendor/select2/i18n/ro.js
/localstorage/static/admin/fonts/Roboto-Bold-webfont.woff
/localstorage/static/admin/fonts/Roboto-Light-webfont.woff
/localstorage/static/admin/fonts/Roboto-Regular-webfont.woff
/localstorage/static/admin/css/rtl.css
/localstorage/static/admin/js/vendor/select2/i18n/ru.js
/localstorage/static/admin/img/search.svg
/localstorage/static/admin/css/vendor/select2/select2.css
/localstorage/static/admin/js/vendor/select2/select2.full.js
/localstorage/static/admin/js/vendor/select2/select2.full.min.js
/localstorage/static/admin/css/vendor/select2/select2.min.css
/localstorage/static/admin/js/SelectBox.js
/localstorage/static/admin/js/SelectFilter2.js
/localstorage/static/admin/img/selector-icons.svg
/localstorage/static/admin/js/vendor/select2/i18n/sk.js
/localstorage/static/admin/js/vendor/select2/i18n/sl.js
/localstorage/static/admin/img/sorting-icons.svg
/localstorage/static/admin/js/vendor/select2/i18n/sq.js
/localstorage/static/admin/js/vendor/select2/i18n/sr.js
/localstorage/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
/localstorage/static/admin/js/vendor/select2/i18n/sv.js
/localstorage/static/admin/js/vendor/select2/i18n/th.js
/localstorage/static/admin/js/vendor/select2/i18n/tk.js
/localstorage/static/admin/img/tooltag-add.svg
/localstorage/static/admin/img/tooltag-arrowright.svg
/localstorage/static/admin/js/vendor/select2/i18n/tr.js
/localstorage/static/admin/js/vendor/select2/i18n/uk.js
/img/UnderstandingParrent.png
/localstorage/static/admin/js/urlify.js
/localstorage/static/admin/js/vendor/select2/i18n/vi.js
/localstorage/static/admin/css/widgets.css
/localstorage/static/admin/js/vendor/xregexp/xregexp.js
/localstorage/static/admin/js/vendor/xregexp/xregexp.min.js
/localstorage/static/admin/js/vendor/select2/i18n/zh-CN.js
/localstorage/static/admin/js/vendor/select2/i18n/zh-TW.js
